// Font Colors

.clr-white {
  color: white;
}

.clr-desat-blue {
  color: var(--clr-desat-blue);
}

.clr-pale-blue {
  color: var(--clr-pale-blue);
}

// Background Colors

.bg-gray {
  background-color: hsl(190, 4%, 69%);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-dark-blue {
  background-color: var(--clr-dark-blue);
}

.bg-v-dark-blue {
  background-color: var(--clr-v-dark-blue);
}

// Font sizes

.size-s {
  font-size: 1rem;
}

.size-m {
  font-size: 1.125rem;
}

.size-l {
  font-size: 1.5rem;
}

// Font Weights

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-bold {
  font-weight: 500;
}

// Padding

.pad-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

// Rounded Corners

.rounded-corners {
  border-radius: 1rem;

}

// User Icons

.icon {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid white;

  @media screen and (min-width: 1100px) {
    width: 4.75rem;
  }
}

// Card Type Backgrounds

[class*="bg-category-"] {
  background-repeat: no-repeat;
  background-position-x: right 0.75rem;
}

.bg-category-work {
  background-color: var(--clr-category-work);
  background-image: url("/images/icon-work.svg");

  background-position-y: top -0.5rem;
}

.bg-category-social {
  background-color: var(--clr-category-social);
  background-image: url("/images/icon-social.svg");

  background-position-y: -1rem;
}

.bg-category-self-care {
  background-color: var(--clr-category-self-care);
  background-image: url("/images/icon-self-care.svg");

  background-position-y: top -0.5rem;
}

.bg-category-study {
  background-color: var(--clr-category-study);
  background-image: url("/images/icon-study.svg");

  background-position-y: top -1rem;
}

.bg-category-exercise {
  background-color: var(--clr-category-exercise);
  background-image: url("/images/icon-exercise.svg");
}

.bg-category-play {
  background-color: var(--clr-category-play);
  background-image: url("/images/icon-play.svg");
}


// Misc

.hide-vis {
  position: absolute;
  top: -99999px;

  width: 1px;
  height: 1px;
  overflow: hidden;
}