.task-grid {
  display: grid;

  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    align-items: end;

    .tg-control-panel {
      grid-row: span 2;
      align-self: stretch;
    }

    .tg-card:nth-child(2) {
      grid-column-start: 1;
    }
  }

  @media screen and (min-width: 1140px) {
    grid-template-columns: repeat(12, 1fr);

    .tg-card:nth-child(2) {
      grid-column: span 3;
    }

    .tg-control-panel, .tg-card {
      grid-column: span 3;
    }

  }
}