.tg-card {
  padding-top: 2.5rem;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.tgc-content {
  padding: 1.5rem;
  background-color: var(--clr-dark-blue);

  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title options"
    "currentHrs previousHrs";
  row-gap: 1rem;

  @media screen and (min-width: 1140px) {
    grid-template-areas: 
    "title options"
    "currentHrs currentHrs"
    "previousHrs previousHrs";

    row-gap: 0.5rem;
  }

  &:hover, &:focus {
    background-color: hsl(235, 41%, 34%);
  }

  .tgc-title {
    grid-area: title;
    justify-self: start;
    align-self: center;
  }
  
  .tgc-current-hours {
    grid-area: currentHrs;
    align-self: center;

    font-size: 2rem;

    @media screen and (min-width: 1140px) {
      font-size: 3.5rem;
      padding-top: 1rem;
    }
  }
  
  .tgc-previous-hours {
    grid-area: previousHrs;
    justify-self: end;
    align-self: center;

    @media screen and (min-width: 1140px) {
      justify-self: start;
    }
  }
  
  .tgc-options {
    grid-area: options;
    justify-self: end;
    align-self: center;

    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    
    color: var(--clr-pale-blue);

    &:hover, &:focus {
      color: white;
    }
  }
}