.tg-card {
  padding-top: 2.5rem;
}

.tgc-content {
  padding: 1.5rem;
  background-color: var(--clr-dark-blue);

  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title options"
    "currentHrs previousHrs";
  row-gap: 1rem;

  &:hover, &:focus {
    background-color: hsl(235, 41%, 34%);
  }

  .tgc-title {
    grid-area: title;
    justify-self: start;
    align-self: center;
  }
  
  .tgc-current-hours {
    grid-area: currentHrs;
    align-self: center;
  }
  
  .tgc-previous-hours {
    grid-area: previousHrs;
    justify-self: end;
    align-self: center;
  }
  
  .tgc-options {
    grid-area: options;
    justify-self: end;
    align-self: center;

    background: none;
    border: none;
    cursor: pointer;

    color: var(--clr-pale-blue);

    &:hover, &:focus {
      color: white;
    }
  }

  .tgc-current-hours {
    font-size: 2rem;
  }
}